:root {
    --brand_color: #7CA2F4;
    --dark: #121214;
    --white_soft: #f3f7ff;
    --white: #FFFFFF;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: archivo, sans-serif;
}

.top_fixed {
    width: 100%;
    height: 64px;
    background-color: var(--white_soft);
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    width: 100%;
    height: 600px;
    background-image: url('../images/image-michael-jordan.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero__content {
    width: 70%;
    height: auto;
    color: var(--white);
}

.hero__content h1, .hero__content p {
    font-size: 24px;
    margin-bottom: 20px;
}

.hero__content h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.hero__content p {
    line-height: 34px;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.produtos {    
    width: 70%;
    height: 100%;
    margin-block: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.heading__produtos {
    width: 590px;
    height: 100%;
    margin-bottom: 60px;
}

.heading__produtos > h3 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.heading__produtos > p {
    font-size: 20px;    
}

.lista__produtos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

.card__produto {
    width: 384px;
    height: 326px;
}

.card__produto > figure {
    width: 100%;
    height: 200px;
    background-color: var(--white_soft);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__produto > .detalhes {
    margin-block: 24px;

}

.card__produto > .detalhes > h4 {
    font-size: 18px;
    line-height: 28px;
}

.card__produto > .detalhes > h5 {
    font-size: 16px;
    line-height: 26px;
    color: var(--brand_color);
    
}

/* preço */
.card__produto >  p {
    font-size: 18px;
    line-height: 28px;
    font-family: "Space Grotesk", sans-serif;
}